[Unit]
Description=Bluetooth open pairing (agent + discoverable)
After=bluetooth.service
Requires=bluetooth.service

[Service]
Type=simple
ExecStartPre=/usr/bin/bluetoothctl discoverable-timeout 0
ExecStartPre=/usr/bin/bluetoothctl power on
ExecStartPre=/usr/bin/bluetoothctl discoverable on
ExecStartPre=/usr/bin/bluetoothctl pairable on
ExecStart=/usr/bin/bt-agent --capability=NoInputNoOutput --conn-script=/usr/local/bin/bt-trust.sh
Restart=always

[Install]
WantedBy=multi-user.target
